In [1]:
import polars as pl
import pandas as pd
import numpy as np
import pickle as pkl

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.metrics import roc_auc_score

import warnings
warnings.filterwarnings("ignore", category=FutureWarning)

In [2]:
import catboost as cb
import sgml, sgpp

/home/sun9sun9/python312/lib/python3.12/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [5]:
from sklearn.metrics import roc_auc_score

from sklearn.compose import ColumnTransformer
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import StratifiedKFold, ShuffleSplit, StratifiedShuffleSplit
from sklearn.preprocessing import StandardScaler, OneHotEncoder

skf = StratifiedKFold(5, random_state = 123, shuffle = True)
ss = StratifiedShuffleSplit(1, train_size = 0.8, random_state = 123)
ss_v = StratifiedShuffleSplit(1, train_size = 0.9, random_state = 123)

In [9]:
p = make_pipeline(
    sgpp.PolarsProcessor(predefined_types={'id': pl.Int64}),
    sgpp.ExprProcessor({
        'loan_paid_back': pl.col('loan_paid_back').cast(pl.Int8)
    }),
    sgpp.PandasConverter(index_col = 'id')
)
df_train = p.fit_transform('data/train.csv')
df_test = p.transform('data/test.csv')
with open('grade_subgrade.pkl', 'rb') as f:
    c_map = pkl.load(f)
df_train['grade_subgrade_no'] = df_train['grade_subgrade'].map(c_map).astype('int')
df_test['grade_subgrade_no'] = df_test['grade_subgrade'].map(c_map).astype('int')
df_train.shape, df_test.shape

((593994, 13), (254569, 12))

In [6]:
X_all = df_test.columns.tolist()
X_num = ['annual_income', 'debt_to_income_ratio', 'credit_score', 'loan_amount', 'interest_rate', 'grade_subgrade_no']
X_cat = ['gender', 'marital_status', 'education_level', 'employment_status', 'loan_purpose']
y = 'loan_paid_back'

In [6]:
ShuffleSplit?

Init signature:
ShuffleSplit(
    n_splits=10,
    *,
    test_size=None,
    train_size=None,
    random_state=None,
)
Docstring:
Random permutation cross-validator.

Yields indices to split data into training and test sets.

Note: contrary to other cross-validation strategies, random splits
do not guarantee that test sets across all folds will be mutually exclusive,
and might include overlapping samples. However, this is still very likely for
sizeable datasets.

Read more in the :ref:`User Guide <ShuffleSplit>`.

For visualisation of cross-validation behaviour and
comparison between common scikit-learn split methods
refer to :ref:`sphx_glr_auto_examples_model_selection_plot_cv_indices.py`

Parameters
----------
n_splits : int, default=10
    Number of re-shuffling & splitting iterations.

test_size : float or int, default=None
    If float, should be between 0.0 and 1.0 and represent the proportion
    of the dataset to include in the test split. If int, represents the
    absolute number of test samples. If None, the value is set to the
    complement of the train size. If ``train_size`` is also None, it will
    be set to 0.1.

train_size : float or int, default=None
    If float, should be between 0.0 and 1.0 and represent the
    proportion of the dataset to include in the train split. If
    int, represents the absolute number of train samples. If None,
    the value is automatically set to the complement of the test size.

random_state : int, RandomState instance or None, default=None
    Controls the randomness of the training and testing indices produced.
    Pass an int for reproducible output across multiple function calls.
    See :term:`Glossary <random_state>`.

Examples
--------
>>> import numpy as np
>>> from sklearn.model_selection import ShuffleSplit
>>> X = np.array([[1, 2], [3, 4], [5, 6], [7, 8], [3, 4], [5, 6]])
>>> y = np.array([1, 2, 1, 2, 1, 2])
>>> rs = ShuffleSplit(n_splits=5, test_size=.25, random_state=0)
>>> rs.get_n_splits()
5
>>> print(rs)
ShuffleSplit(n_splits=5, random_state=0, test_size=0.25, train_size=None)
>>> for i, (train_index, test_index) in enumerate(rs.split(X)):
...     print(f"Fold {i}:")
...     print(f"  Train: index={train_index}")
...     print(f"  Test:  index={test_index}")
Fold 0:
  Train: index=[1 3 0 4]
  Test:  index=[5 2]
Fold 1:
  Train: index=[4 0 2 5]
  Test:  index=[1 3]
Fold 2:
  Train: index=[1 2 4 0]
  Test:  index=[3 5]
Fold 3:
  Train: index=[3 4 1 0]
  Test:  index=[5 2]
Fold 4:
  Train: index=[3 5 1 0]
  Test:  index=[2 4]
>>> # Specify train and test size
>>> rs = ShuffleSplit(n_splits=5, train_size=0.5, test_size=.25,
...                   random_state=0)
>>> for i, (train_index, test_index) in enumerate(rs.split(X)):
...     print(f"Fold {i}:")
...     print(f"  Train: index={train_index}")
...     print(f"  Test:  index={test_index}")
Fold 0:
  Train: index=[1 3 0]
  Test:  index=[5 2]
Fold 1:
  Train: index=[4 0 2]
  Test:  index=[1 3]
Fold 2:
  Train: index=[1 2 4]
  Test:  index=[3 5]
Fold 3:
  Train: index=[3 4 1]
  Test:  index=[5 2]
Fold 4:
  Train: index=[3 5 1]
  Test:  index=[2 4]
File:           ~/python312/lib/python3.12/site-packages/sklearn/model_selection/_split.py
Type:           ABCMeta
Subclasses:

In [7]:
class CachedSplitter():
    def __init__(X, y = None, sp = ShuffleSplit(n_splits = 1, random_state=1), sp_v = None, groups = None):
        self.train_idx_list = list()
        self.valid_idx_list = list()
        if type(X) == pd.DataFrame:
            idx_func = lambda x: {'X': X.iloc[x], 'y': y.iloc[x] if y is not None else None, 'groups': (groups.iloc[x] if groups is not None else None)}
        else:
            idx_func = lambda x: {'X': X[x], 'y': y[x] if y is not None else None, 'groups': (groups[x] if groups is not None else None)}
        for train_idx, valid_idx in sp.split(X, y, groups = groups):
            if sp_v is not None:
                self.train_idx_list.append([
                    (train_idx[train_v_idx], train_idx[valid_v_idx])
                    for train_v_idx, valid_v_idx in sp_v.split(**idx_func(train_idx))
                ])
            else:
                self.train_idx_list.append([
                    (train_idx, None)
                ])
            
            self.valid_idx_list.append(valid_idx)
    
    def split(*args, split_train = True):
        if type(args[0]) in [pd.DataFrame, pd.Series]:
            idx_func = lambda x: (i.iloc[x] for i in args)
        else:
            idx_func = lambda x: (i[x] for i in args)
        if split_train:
            for train_idx_list, valid_idx in zip(train_idx_list, valid_idx_list):
                yield [
                    (idx_func(train_idx), None if train_v_idx is None else idx_func(train_v_idx))
                    for train_idx, train_v_idx in train_idx_list
                ], idx_func(valid_idx)
        else:
            for train_idx_list, valid_idx in zip(train_idx_list, valid_idx_list):
                yield [
                    (idx_func(train_idx) if train_v_idx is None else idx_func(np.hstack([train_idx, train_v_idx])), None)
                    for train_idx, train_v_idx in train_idx_list
                ], idx_func(valid_idx)
            
def split_and_call(func, train_idx_list, valid_idx_list, *args, split_train = True):
    return [
        [func(train, train_v, valid) for train, train_v in train_list]
        for train_list, valid in split(train_idx_list, valid_idx_list, *args, split_train=split_train)
    ]

In [8]:
train_idx_list, valid_idx_list = get_split_idx(df_train[X_all].values, df_train[y].values, skf, ss_v)

In [149]:
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
from functools import partial

def fit(func, X = None):
    def ret(train, *args):
        train = list(train)
        if len(train) > 1:
            return func().fit(train[0][X] if X is not None else train[0], train[1])
        else:
            return func().fit(train[0][X] if X is not None else train[0])
    return ret

In [97]:
std_list = split_and_call(
    fit(lambda : StandardScaler().set_output(transform = 'pandas'), X_num), 
    train_idx_list, valid_idx_list, df_train[X_all], df_train[y], split_train=False
)
std_list

[[StandardScaler()],
 [StandardScaler()],
 [StandardScaler()],
 [StandardScaler()],
 [StandardScaler()]]

In [98]:
std_list[0][0].get_feature_names_out(X_num)

array(['annual_income', 'debt_to_income_ratio', 'credit_score',
       'loan_amount', 'interest_rate', 'grade_subgrade_no'], dtype=object)

In [167]:
pca_list = split_and_call(
    fit(lambda : make_pipeline(StandardScaler(), PCA()).set_output(transform = 'pandas'), X_num), 
    train_idx_list, valid_idx_list, df_train[X_all], df_train[y], split_train=False
)
pca_list

[[Pipeline(steps=[('standardscaler', StandardScaler()), ('pca', PCA())])],
 [Pipeline(steps=[('standardscaler', StandardScaler()), ('pca', PCA())])],
 [Pipeline(steps=[('standardscaler', StandardScaler()), ('pca', PCA())])],
 [Pipeline(steps=[('standardscaler', StandardScaler()), ('pca', PCA())])],
 [Pipeline(steps=[('standardscaler', StandardScaler()), ('pca', PCA())])]]

In [100]:
pca_list[0][0].get_feature_names_out(X_num)

array(['pca0', 'pca1', 'pca2', 'pca3', 'pca4', 'pca5'], dtype=object)

In [203]:
def split_and_transform(obj_lists, train_idx_list, valid_idx_list, *args, split_train=False):
    def get_feature_names(i, j):
        names = list()
        for name, obj_list, X in obj_lists:
            if type(obj_list) == list:
                if hasattr(obj_list[i][j], 'get_feature_names_out'):
                    n = obj_list[i][j].get_feature_names_out()  
                elif hasattr(obj_list[i][j][0], 'columns'):
                    n = obj_list[i][j][0].columns
                else:
                    n = np.arange(obj_list[i][j][0].shape[-1])
                for k in n:
                    names.append('{}__{}'.format(name, k))
            else:
                for k in X:
                    names.append('{}__{}'.format(name, k))
        return names
    def get_transform(i, j, v, idx):
        v = list(v)
        l = list()
        for name, obj_list, X in obj_lists:
            if isinstance(obj_list, list) :
                if hasattr(obj_list[i][j], 'transform'):
                    l.append(obj_list[i][j].transform(v[0][X]))
                else:
                    l.append(obj_list[i][j][idx])
            else: 
                if type(v[0]) == pd.DataFrame:
                    l.append(v[0][X])
                else:
                    l.append(v[0][:, X])
        if type(l[0]) == pd.DataFrame:
            X = pd.concat([l.rename(columns=lambda x: name + '__' + x) for l, (name, _, _) in zip(l, obj_lists)], axis=1)
        else:
            X = np.hstack(l)
        if len(v) == 1:
            return X
        else:
            return X, v[1] if len(v) == 2 else v[1:]

    for i, (train_list, valid) in enumerate(split(train_idx_list, valid_idx_list, *args, split_train=split_train)):
        for j, (train, train_v) in enumerate(train_list):
            names = get_feature_names(i, j)
            train_v_transform = get_transform(i, j, train_v, 1) if train_v is not None else None
            yield i, j, names, get_transform(i, j, train, 0), train_v_transform, get_transform(i, j, valid, 2)
            
def split_and_transform_store(obj_lists, train_idx_list, valid_idx_list, *args, split_train=False):
    l1 = list()
    i_ = -1
    for i, j, n, X_train, X_train_v, X_valid in split_and_transform(
            obj_lists, train_idx_list, valid_idx_list, *args, split_train = True
    ):
        if i_ != i:
            l1.append(list())
        l1[-1].append(
            (X_train, X_train_v, X_valid)
        )
        i_ = i
    return l1

In [204]:
pca_values = split_and_transform_store([
    ('pca', pca_list, X_num)
], train_idx_list, valid_idx_list, df_train[X_all], split_train = True)
pca_values

[[(        pca__pca0  pca__pca1  pca__pca2  pca__pca3  pca__pca4  pca__pca5
   id
   138907  -1.625568  -0.720244  -0.505836  -1.044785   1.783526   0.142959
   251061  -0.730669   0.109349  -1.269454  -0.898767   0.380521   0.015633
   108883   1.098706   1.163701  -0.517042   1.671697   0.885004  -0.097822
   421891  -0.526545   0.345860  -0.793755  -1.206155  -0.396592  -0.047605
   302478  -0.677216   0.450531   0.810389  -0.429099   0.386358  -0.325950
   ...           ...        ...        ...        ...        ...        ...
   470641   1.349882   0.043285  -0.001735  -0.295368   0.407611  -0.118700
   170626  -0.423096   0.460783   0.414791  -1.029564   0.557638  -0.467625
   493480  -0.072579   0.191544   1.633167  -0.047257  -0.731524  -0.079870
   415113   3.116569  -0.119307  -0.233893  -0.898333  -0.808953  -0.119866
   409290  -0.330161  -0.737932  -0.556850  -0.255160   0.583255  -0.235990

   [427675 rows x 6 columns],
           pca__pca0  pca__pca1  pca__pca2  pca__pca3  pca__pca4  pca__pca5
   id
   51330    0.014535  -1.175978   1.112668   1.626036   1.136084  -0.209711
   324263   0.312607   0.655345  -0.492139  -1.553661  -0.682423  -0.395358
   393053   1.500781  -0.303538  -0.307197   1.740971   0.785754   0.023416
   303994  -1.035553   0.937755  -0.654035   0.690036  -1.558369   0.107854
   572132   1.806178   0.263433  -0.344482   1.193801  -0.083343  -0.172795
   ...           ...        ...        ...        ...        ...        ...
   592529   0.190376   1.357434  -1.682247   1.281142   0.315593   0.117387
   37040    0.276145   0.615161   0.782088  -0.710270   1.164915  -0.173479
   54107   -0.404898  -0.818117   0.894332   0.616252  -0.079156   0.026619
   320113   2.650940   0.040608  -1.308604  -1.926297  -0.464501   0.191950
   54334    3.672194   0.183434  -0.105004   0.031536  -0.272843   0.005646

   [47520 rows x 6 columns],
           pca__pca0  pca__pca1  pca__pca2  pca__pca3  pca__pca4  pca__pca5
   id
   12       0.929240   0.213302  -0.261605   0.275253   0.394681   0.273951
   28       0.367188  -0.267375   0.143539  -0.913509   0.546668  -0.048519
   34       0.616614   1.293235  -1.902583   1.189292  -1.035384   0.398286
   36       4.127411  -0.144280   0.184618  -0.697599  -0.453517   0.031435
   46       1.013177  -1.038750   1.301964   0.317476   0.022267  -0.345951
   ...           ...        ...        ...        ...        ...        ...
   593973   2.616495  -0.284955  -0.193682  -0.953807  -0.124024   0.418215
   593978   2.442421   1.037282   0.739810   1.346524   0.351660  -0.207365
   593982   1.217448  -0.708799  -0.596789   0.542599   0.548317  -0.184285
   593990   3.690817   0.957797  -0.666966  -1.396005  -0.844692   0.498976
   593991  -0.034184   1.233361  -0.255387  -1.775562   0.987295  -0.567400

   [118799 rows x 6 columns])],
 [(        pca__pca0  pca__pca1  pca__pca2  pca__pca3  pca__pca4  pca__pca5
   id
   138993  -0.015041   0.129429   0.523739  -0.502656  -1.120924  -0.506482
   251068  -2.172451  -0.924216  -0.538148   0.266078   0.253581  -0.190745
   108793  -2.559765  -1.903379   0.196490  -0.071454   0.624502  -0.102100
   421722  -0.770736   0.986641  -0.249849  -1.384822   0.489072   0.402266
   302184   1.215106  -0.952116   0.046587  -0.835592   0.187995   0.196180
   ...           ...        ...        ...        ...        ...        ...
   470389  -1.555065  -1.368892   0.279225   0.024273   0.514583  -0.068087
   170750  -2.845670   0.790203  -0.877486   0.273493   0.892082   0.376718
   493273  -3.481711  -0.364157   0.197457   2.490115  -0.063044   0.365165
   414806  -0.669672  -0.340497   0.546740  -0.491053  -1.086025   0.327932
   409058  -0.561074  -0.599255   0.376126  -0.230539  -0.313240   0.088037

   [427675 rows x 6 columns],
           pca__pca0  pca__pca1  pca__pca2  pca__pca3  pca__pca4  pca__pca5
   id
   51471   -0.234114  -0.032729  -1.638273   0.064199  -1.005334   0.248721
   323665   3.098302   0.869023  -0.490340  -1.850978   1.207812   0.524503
   392730   2.462826   0.451291   0.227052  -1.020960   0.282706   0.191526
   303631   0.894241  -1.762685   0.051266  -0.499921  -0.174742  -0.173695
   572245   0.256980   0.413249  -1.291616   1.622528  -1.043846  -0.113382
   ...           ...        ...        ...        ...        ...        ...
   592512  -0.272317  -0.098978  -0.453435  -0.214452   0.019327  -0.326218
   37073   -1.284525  -0.661044  -0.428293  -0.050308   0.059205  -0.025310
   54131    1.164415   0.566822  -0.329620  -0.571176  -0.230353  -0.042291
   320130   0.733212   0.265507  -0.571300   1.362850   0.100296  -0.352671
   54614   -0.611447   0.701216   1.165442  -0.597818  -0.869419   0.161585

   [47520 rows x 6 columns],
           pca__pca0  pca__pca1  pca__pca2  pca__pca3  pca__pca4  pca__pca5
   id
   1        1.044417   1.008540  -1.467534  -0.636823   0.225386  -0.160538
   4       -0.278542  -0.537644  -0.476247  -1.106292   1.137129  -0.133926
   5        0.347593  -0.209755   0.162905  -0.986208   0.317783  -0.232184
   6        0.038078  -0.570651   0.974034  -0.650260  -0.547207   0.229938
   8       -1.039403   0.649484  -0.951375  -0.563191   1.085055   0.339483
   ...           ...        ...        ...        ...        ...        ...
   593972  -1.169361  -1.239466   0.596241  -0.029574   0.410522  -0.073708
   593974  -0.528136  -0.208118  -0.655004  -0.632417  -1.328031   0.077384
   593979   0.455844   0.433947  -0.715897  -0.859717   1.176750  -0.490188
   593983  -1.810449  -0.426148   0.502886  -0.318672   0.957918  -0.084890
   593985  -1.055200  -0.002116  -0.612557   0.733570   0.440471   0.167608

   [118799 rows x 6 columns])],
 [(        pca__pca0  pca__pca1  pca__pca2  pca__pca3  pca__pca4  pca__pca5
   id
   138365   1.737252  -1.375323   0.462866   0.427561  -0.871335  -0.213859
   250661   1.273896  -0.147723   0.149653  -0.599786   0.234989  -0.428463
   108304  -0.074639   0.824118  -1.404096   0.545798  -1.055490   0.444240
   421429   1.253958  -1.040045   0.910755  -0.643831  -0.273262   0.124755
   301843  -0.783502  -0.169781  -0.280792  -0.613003  -0.317415   0.011989
   ...           ...        ...        ...        ...        ...        ...
   469936  -2.240141  -0.674048  -0.402021  -0.986189   0.432364   0.012091
   170262   0.039311  -0.872982   1.224295   0.502955  -1.012160   0.237227
   493028  -0.667282   0.214544   0.582173  -0.408817  -0.635760  -0.196032
   414586   0.632464  -2.351756  -0.642372   0.397816  -0.195647  -0.181526
   408736  -1.489523  -1.113319  -0.557056   0.202702   0.459256   0.216910

   [427675 rows x 6 columns],
           pca__pca0  pca__pca1  pca__pca2  pca__pca3  pca__pca4  pca__pca5
   id
   50988    2.933116   1.950280  -0.299009  -0.853464  -0.362966   0.461191
   323585  -0.063326   1.385701  -1.705268   3.156335  -0.612777  -0.556503
   392564  -0.752981   0.857398  -0.073436  -1.115832   0.655503  -0.560720
   303314  -0.605074   1.695535  -0.444823  -0.556790  -0.045070   0.311028
   572068  -0.532632  -0.866379   1.895422   0.872217   0.886228  -0.318240
   ...           ...        ...        ...        ...        ...        ...
   592481   1.109985   1.104067   0.103605   0.450364  -0.252015  -0.230323
   36791    3.896440   0.568856   0.924085  -0.873278  -0.533552   0.219112
   53949   -0.907140   0.278172   0.028125   0.783366   0.518355   0.556360
   319210  -0.654897  -0.876616   0.136035  -0.620742   0.278571  -0.458205
   54117    1.239447   0.324474  -1.142849   0.370701   0.100007   0.027247

   [47520 rows x 6 columns],
           pca__pca0  pca__pca1  pca__pca2  pca__pca3  pca__pca4  pca__pca5
   id
   17       3.012253  -1.442668   0.104745   0.229281   1.604942   0.666666
   18       1.225706  -0.942555  -0.442293  -0.257387   0.168284   0.224652
   19       0.403871  -1.053303   0.350101  -0.518386  -0.806869   0.057855
   23      -0.893600   0.806433  -1.563612   0.524355   0.107710  -0.330265
   43      -0.835228  -1.545915  -0.294779  -0.345705  -0.307256   0.317116
   ...           ...        ...        ...        ...        ...        ...
   593981   0.511046  -0.802875  -0.788084  -0.565030   0.959548   0.413123
   593987   0.498227  -1.377210  -0.611709  -0.304983  -1.473087  -0.201930
   593989  -0.792452  -0.756791  -0.791333   0.845452   0.334262  -0.014094
   593992  -2.268174  -0.038124   1.223742  -0.268057   0.178390  -0.377582
   593993  -2.153390   0.674500  -0.190215  -0.804950  -0.002696  -0.074162

   [118799 rows x 6 columns])],
 [(        pca__pca0  pca__pca1  pca__pca2  pca__pca3  pca__pca4  pca__pca5
   id
   138976   0.208566  -1.503071  -0.801770  -0.010582   1.448622   0.126638
   251166  -1.760882  -1.816516   0.627044   0.968531   0.468501   0.151263
   108881  -0.174197  -0.289446   0.889870  -0.209949  -0.895079  -0.216381
   421951   1.897404  -0.669565  -0.827300  -0.617972  -1.055882  -0.533746
   302393   2.065516  -2.095087  -0.456250   0.380690   0.229371   0.005740
   ...           ...        ...        ...        ...        ...        ...
   470571  -1.411677   0.642470  -0.031034  -1.564384   0.029867   0.075218
   170653   0.100975  -0.172366   0.658835  -0.686633  -1.121542  -0.341581
   493406   0.610796  -0.396400   0.346892  -0.082482  -0.143014  -0.187965
   415065  -0.723689   0.373562   0.103735  -0.622546   0.383027   0.422450
   409226   0.044085   1.086195  -1.011501  -1.635577   0.097067  -0.092173

   [427675 rows x 6 columns],
           pca__pca0  pca__pca1  pca__pca2  pca__pca3  pca__pca4  pca__pca5
   id
   51771   -0.516824  -0.478963   0.946130   1.948598   0.260308  -0.212360
   324091  -0.322879  -0.199074   0.083921  -1.019428  -1.034844  -0.297490
   393002   0.273284   1.188837   0.278276  -0.923347   0.391661   0.105654
   303916  -1.052532  -0.496354   0.047219   1.391275  -0.229372  -0.029764
   572036  -1.671580   2.125526  -0.889618   1.667975  -1.086545  -0.328841
   ...           ...        ...        ...        ...        ...        ...
   592464  -1.784807   1.915227  -0.442977   0.799631  -1.119063  -0.252267
   37100    0.826456   0.859658  -0.120888  -1.314094   0.264953   0.240769
   54238    0.858767   0.517785   1.488634   0.239633  -1.373414   0.007145
   319248   2.945050  -0.570552  -0.457430  -0.777525   1.126646   0.137202
   54959    2.442792  -0.040139  -0.291999  -0.330944  -0.514062  -0.174504

   [47520 rows x 6 columns],
           pca__pca0  pca__pca1  pca__pca2  pca__pca3  pca__pca4  pca__pca5
   id
   7        0.514840   0.327424  -0.134949  -0.705883   0.042990  -0.200988
   9        3.699419  -0.001614  -1.141272  -0.827095  -0.029331  -0.141756
   13      -0.577807   0.129815  -0.196146  -1.292908  -0.773304  -0.213674
   20      -0.379045   1.546839   1.285586   2.049231  -1.231049   0.545042
   25       0.657954   0.392934  -0.300855  -1.972981   0.639540   0.151607
   ...           ...        ...        ...        ...        ...        ...
   593936   0.293114  -0.894979   0.475528   2.177828  -0.314493  -0.034095
   593946  -1.114251   0.891511   0.121590  -0.755573   0.372370   0.498669
   593956   0.542104   0.611886   0.681955  -0.200301   0.645126  -0.556458
   593957  -0.347648   1.299863   0.550104  -1.480467  -0.149325   0.088412
   593958   1.490784  -0.971955   0.647371   0.586546  -0.949110  -0.514082

   [118799 rows x 6 columns])],
 [(        pca__pca0  pca__pca1  pca__pca2  pca__pca3  pca__pca4  pca__pca5
   id
   155912  -0.230939   0.480447  -1.046142  -1.310104  -0.108490   0.028324
   209343   1.517586  -0.002216   0.119027  -1.501848  -1.060561   0.510229
   392510   0.965866  -0.410768  -0.392268  -0.869655   0.022214  -0.524129
   153135  -1.774923  -1.245146   0.550572   0.221809   0.763078   0.007092
   274644  -1.661814  -0.577417  -1.096494  -0.848480  -0.056487  -0.069268
   ...           ...        ...        ...        ...        ...        ...
   336308   1.491473   0.577529   0.074149  -0.889435   1.220468   0.314540
   387786  -0.421241  -0.383245  -1.371481   0.176768  -0.157211  -0.484841
   16380    1.402330   0.173667   0.112767  -0.176359   0.006401   0.107872
   255063  -0.500613   1.300546  -0.281183   0.919361  -0.011837   0.044261
   156090   1.855136   0.204527  -1.505035  -1.264614   0.850109   0.430407

   [427676 rows x 6 columns],
           pca__pca0  pca__pca1  pca__pca2  pca__pca3  pca__pca4  pca__pca5
   id
   564861  -1.915417  -1.119777   0.364481  -0.584083  -0.774943   0.175548
   472137  -0.398594   0.658717   0.745815  -1.348861   1.584925  -0.001590
   3899    -2.370670  -0.228743   0.300050   1.642360  -0.014651   0.387092
   209458  -2.069661   2.879031   3.170487   2.107232  -0.025791   0.030752
   503911  -2.551516  -1.404116  -0.307482   0.303395  -0.582336  -0.028376
   ...           ...        ...        ...        ...        ...        ...
   531288   0.308237  -0.876965   0.121501   0.192780   0.361342  -0.084579
   445754   1.666328  -1.675247   0.575109   0.530405  -0.400643   0.421924
   247275  -1.896217   1.236536  -0.254912   1.633612  -0.806686  -0.526973
   425218   0.910365  -0.549982  -1.053200  -0.974790   0.790475  -0.144192
   253447  -0.586500  -1.045874   1.092120   0.607519   0.301975  -0.342022

   [47520 rows x 6 columns],
           pca__pca0  pca__pca1  pca__pca2  pca__pca3  pca__pca4  pca__pca5
   id
   0       -0.579705   0.847992  -0.974146  -1.551828  -0.976515  -0.483761
   2       -0.790169  -0.352358   0.183826  -0.021149   1.066225  -0.100565
   3        3.821819   0.552836  -0.145157  -1.756290   0.060334   0.339600
   11      -0.215763   0.878959   0.688402   0.127043  -0.523094   0.341714
   21      -0.042671  -1.179186   0.382674   1.243793  -0.799384   0.346475
   ...           ...        ...        ...        ...        ...        ...
   593977   0.239602   0.863467  -0.089288  -1.084585   0.490023  -0.073432
   593980   1.456271  -0.418409  -0.788216   0.306511  -0.038533   0.116725
   593984   0.227576   0.144022  -0.483526  -0.851142  -0.888182   0.280926
   593986   1.111676  -0.811119  -0.589970  -0.587151  -0.235474   0.308658
   593988   1.666616  -2.182150  -0.493215  -0.031731  -0.979004   0.398031

   [118798 rows x 6 columns])]]

In [205]:
for i, j, n, (X_a, X_b), b, c in split_and_transform(
        [
            ('num', 'passthrough', X_num),
            ('cat', 'passthrough', X_cat),
            ('std', std_list, X_num),
            ('pca', pca_values, X_num),
        ], train_idx_list, valid_idx_list, df_train[X_all], df_train[y], split_train = True
    ):
    print(len(n), X_a, X_b, b, c)

23         num__annual_income  num__debt_to_income_ratio  num__credit_score  \
id
138907        25482.740234                      0.046                771
251061        14653.769531                      0.099                713
108883        52467.761719                      0.271                657
421891        27400.689453                      0.079                690
302478        71005.390625                      0.093                697
...                    ...                        ...                ...
470641        47481.230469                      0.113                636
170626        59136.589844                      0.070                685
493480        90142.117188                      0.088                667
415113        37758.429688                      0.084                554
409290        26693.779297                      0.093                692

        num__loan_amount  num__interest_rate  num__grade_subgrade_no  \
id
138907      14217.120117               14.06                       6
251061       8993.790039               12.38                      11
108883      14552.059570               14.69                      15
421891       7133.450195               11.25                      13
302478      12087.349609               12.39                      10
...                  ...                 ...                     ...
470641      13676.299805               14.40                      17
170626       9083.480469               12.98                      10
493480      16174.530273               11.04                      15
415113      11773.809570               14.06                      25
409290      17278.119141               13.08                      11

       cat__gender cat__marital_status cat__education_level  \
id
138907      Female              Single          High School
251061      Female            Divorced           Bachelor's
108883        Male             Married                  PhD
421891        Male             Married          High School
302478      Female             Married           Bachelor's
...            ...                 ...                  ...
470641      Female              Single           Bachelor's
170626        Male             Married             Master's
493480        Male              Single             Master's
415113      Female              Single                  PhD
409290      Female             Married          High School

       cat__employment_status  ... std__credit_score  std__loan_amount  \
id                             ...
138907               Employed  ...          1.624995         -0.116998
251061               Employed  ...          0.579265         -0.870697
108883               Employed  ...         -0.430405         -0.068668
421891               Employed  ...          0.164579         -1.139134
302478               Employed  ...          0.290788         -0.424313
...                       ...  ...               ...               ...
470641          Self-employed  ...         -0.809031         -0.195036
170626               Employed  ...          0.074430         -0.857755
493480               Employed  ...         -0.250107          0.165446
415113               Employed  ...         -2.287477         -0.469555
409290               Employed  ...          0.200639          0.324688

        std__interest_rate  std__grade_subgrade_no  pca__pca__pca0  \
id
138907            0.848075               -1.557238       -1.625568
251061            0.011683               -0.580219       -0.730669
108883            1.161721                0.201396        1.098706
421891           -0.550890               -0.189411       -0.526545
302478            0.016661               -0.775623       -0.677216
...                    ...                     ...             ...
470641            1.017344                0.592204        1.349882
170626            0.310394               -0.775623       -0.423096
493480           -0.655439                0.201396       -0.072579
415113            0.848075                2.155435        3.116569
409290            0.360179               -0.580219       -0.330161

        pca__pca__pca1  pca__pca__pca2  pca__pca__pca3  pca__pca__pca4  \
id
138907       -0.720244       -0.505836       -1.044785        1.783526
251061        0.109349       -1.269454       -0.898767        0.380521
108883        1.163701       -0.517042        1.671697        0.885004
421891        0.345860       -0.793755       -1.206155       -0.396592
302478        0.450531        0.810389       -0.429099        0.386358
...                ...             ...             ...             ...
470641        0.043285       -0.001735       -0.295368        0.407611
170626        0.460783        0.414791       -1.029564        0.557638
493480        0.191544        1.633167       -0.047257       -0.731524
415113       -0.119307       -0.233893       -0.898333       -0.808953
409290       -0.737932       -0.556850       -0.255160        0.583255

        pca__pca__pca5
id
138907        0.142959
251061        0.015633
108883       -0.097822
421891       -0.047605
302478       -0.325950
...                ...
470641       -0.118700
170626       -0.467625
493480       -0.079870
415113       -0.119866
409290       -0.235990

[427675 rows x 23 columns] id
138907    1
251061    1
108883    1
421891    1
302478    1
         ..
470641    1
170626    1
493480    1
415113    1
409290    1
Name: loan_paid_back, Length: 427675, dtype: int8 (        num__annual_income  num__debt_to_income_ratio  num__credit_score  \
id
51330         70797.718750                      0.150                691
324263        36407.449219                      0.067                642
393053        44135.378906                      0.222                645
303994        43177.378906                      0.196                697
572132        46394.718750                      0.211                612
...                    ...                        ...                ...
592529        24010.050781                      0.275                688
37040         70877.367188                      0.090                683
54107         64932.148438                      0.106                694
320113         9001.599609                      0.054                588
54334         47211.039062                      0.147                550

        num__loan_amount  num__interest_rate  num__grade_subgrade_no  \
id
51330       29666.080078               14.23                      11
324263       4500.279785               11.56                      15
393053      23201.089844               14.99                      17
303994      11479.280273                8.49                      14
572132      17802.619141               13.78                      19
...                  ...                 ...                     ...
592529      10140.480469               12.84                      14
37040       10111.490234               14.72                      12
54107       23282.740234               11.82                      13
320113       5248.779785               14.33                      24
54334       14030.660156               15.43                      26

       cat__gender cat__marital_status cat__education_level  \
id
51330       Female             Married           Bachelor's
324263      Female             Married             Master's
393053      Female              Single           Bachelor's
303994        Male              Single           Bachelor's
572132      Female              Single          High School
...            ...                 ...                  ...
592529        Male              Single           Bachelor's
37040         Male             Married             Master's
54107         Male              Single             Master's
320113      Female             Widowed             Master's
54334         Male              Single             Master's

       cat__employment_status  ... std__credit_score  std__loan_amount  \
id                             ...
51330                Employed  ...          0.182609          2.112205
324263               Employed  ...         -0.700853         -1.519087
393053               Employed  ...         -0.646763          1.179341
303994               Employed  ...          0.290788         -0.512054
572132               Employed  ...         -1.241747          0.400371
...                       ...  ...               ...               ...
592529               Employed  ...          0.128520         -0.705236
37040                Employed  ...          0.038370         -0.709419
54107                Employed  ...          0.236699          1.191123
320113             Unemployed  ...         -1.674463         -1.411082
54334              Unemployed  ...         -2.359597         -0.143903

        std__interest_rate  std__grade_subgrade_no  pca__pca__pca0  \
id
51330             0.932709               -0.580219        0.014535
324263           -0.396556                0.201396        0.312607
393053            1.311077                0.592204        1.500781
303994           -1.924962                0.005993       -1.035553
572132            0.708676                0.983012        1.806178
...                    ...                     ...             ...
592529            0.240695                0.005993        0.190376
37040             1.176657               -0.384815        0.276145
54107            -0.267115               -0.189411       -0.404898
320113            0.982494                1.960031        2.650940
54334             1.530132                2.350839        3.672194

        pca__pca__pca1  pca__pca__pca2  pca__pca__pca3  pca__pca__pca4  \
id
51330        -1.175978        1.112668        1.626036        1.136084
324263        0.655345       -0.492139       -1.553661       -0.682423
393053       -0.303538       -0.307197        1.740971        0.785754
303994        0.937755       -0.654035        0.690036       -1.558369
572132        0.263433       -0.344482        1.193801       -0.083343
...                ...             ...             ...             ...
592529        1.357434       -1.682247        1.281142        0.315593
37040         0.615161        0.782088       -0.710270        1.164915
54107        -0.818117        0.894332        0.616252       -0.079156
320113        0.040608       -1.308604       -1.926297       -0.464501
54334         0.183434       -0.105004        0.031536       -0.272843

        pca__pca__pca5
id
51330        -0.209711
324263       -0.395358
393053        0.023416
303994        0.107854
572132       -0.172795
...                ...
592529        0.117387
37040        -0.173479
54107         0.026619
320113        0.191950
54334         0.005646

[47520 rows x 23 columns], id
51330     0
324263    1
393053    1
303994    1
572132    1
         ..
592529    0
37040     1
54107     1
320113    0
54334     0
Name: loan_paid_back, Length: 47520, dtype: int8) (        num__annual_income  num__debt_to_income_ratio  num__credit_score  \
id
12            44747.371094                      0.154                667
28            45988.148438                      0.061                674
34            17420.250000                      0.271                662
36            48602.371094                      0.091                531
46            71794.468750                      0.080                631
...                    ...                        ...                ...
593973        37124.441406                      0.074                604
593978        81044.992188                      0.227                596
593982        28794.119141                      0.146                641
593990        35289.429688                      0.105                559
593991        47112.640625                      0.072                675

        num__loan_amount  num__interest_rate  num__grade_subgrade_no  \
id
12          14602.900391               13.93                      17
28          13153.950195               13.79                      14
34           9702.639648               10.93                      19
36          13379.099609               15.67                      28
46          23954.220703               13.39                      16
...                  ...                 ...                     ...
593973      12577.820312               14.85                      24
593978      15824.750000               15.13                      20
593982      20234.130859               14.43                      16
593990       3257.239990               14.62                      29
593991        929.270020               14.13                      10

       cat__gender cat__marital_status cat__education_level  \
id
12          Female              Single          High School
28            Male              Single                  PhD
34            Male              Single             Master's
36            Male             Married           Bachelor's
46            Male             Married          High School
...            ...                 ...                  ...
593973      Female             Married           Bachelor's
593978      Female              Single           Bachelor's
593982      Female             Married             Master's
593990        Male              Single           Bachelor's
593991      Female             Married           Bachelor's

       cat__employment_status  ... std__credit_score  std__loan_amount  \
id                             ...
12                   Employed  ...         -0.250107         -0.061332
28                   Employed  ...         -0.123898         -0.270408
34                   Employed  ...         -0.340256         -0.768414
36                 Unemployed  ...         -2.702163         -0.237920
46                   Employed  ...         -0.899181          1.288014
...                       ...  ...               ...               ...
593973                Retired  ...         -1.385986         -0.353540
593978               Employed  ...         -1.530225          0.114974
593982               Employed  ...         -0.718882          0.751225
593990               Employed  ...         -2.197328         -1.698451
593991               Employed  ...         -0.105868         -2.034365

        std__interest_rate  std__grade_subgrade_no  pca__pca__pca0  \
id
12                0.783354                0.592204        0.929240
28                0.713654                0.005993        0.367188
34               -0.710203                0.983012        0.616614
36                1.649616                2.741647        4.127411
46                0.514514                0.396800        1.013177
...                    ...                     ...             ...
593973            1.241378                1.960031        2.616495
593978            1.380776                1.178416        2.442421
593982            1.032280                0.396800        1.217448
593990            1.126871                2.937050        3.690817
593991            0.882924               -0.775623       -0.034184

        pca__pca__pca1  pca__pca__pca2  pca__pca__pca3  pca__pca__pca4  \
id
12            0.213302       -0.261605        0.275253        0.394681
28           -0.267375        0.143539       -0.913509        0.546668
34            1.293235       -1.902583        1.189292       -1.035384
36           -0.144280        0.184618       -0.697599       -0.453517
46           -1.038750        1.301964        0.317476        0.022267
...                ...             ...             ...             ...
593973       -0.284955       -0.193682       -0.953807       -0.124024
593978        1.037282        0.739810        1.346524        0.351660
593982       -0.708799       -0.596789        0.542599        0.548317
593990        0.957797       -0.666966       -1.396005       -0.844692
593991        1.233361       -0.255387       -1.775562        0.987295

        pca__pca__pca5
id
12            0.273951
28           -0.048519
34            0.398286
36            0.031435
46           -0.345951
...                ...
593973        0.418215
593978       -0.207365
593982       -0.184285
593990        0.498976
593991       -0.567400

[118799 rows x 23 columns], id
12        1
28        1
34        0
36        0
46        1
         ..
593973    1
593978    1
593982    1
593990    1
593991    1
Name: loan_paid_back, Length: 118799, dtype: int8)
23         num__annual_income  num__debt_to_income_ratio  num__credit_score  \
id
138993        59746.550781                      0.087                679
251068        26185.759766                      0.107                744
108793        30648.359375                      0.033                753
421722        47209.718750                      0.084                715
302184        34281.109375                      0.048                642
...                    ...                        ...                ...
470389        39162.039062                      0.059                722
170750        38019.949219                      0.171                781
493273        60568.839844                      0.218                819
414806        54967.019531                      0.068                734
409058        49121.480469                      0.076                708

        num__loan_amount  num__interest_rate  num__grade_subgrade_no  \
id
138993      13179.519531               14.32                      10
251068      19959.580078                9.77                       7
108793      24806.460938                8.87                       7
421722       3515.719971               10.90                      14
302184      16497.359375               13.37                      19
...                  ...                 ...                     ...
470389      22615.669922               10.01                      10
170750      10451.929688                7.97                       8
493273      27773.210938                8.87                       4
414806      15696.849609               13.74                      11
409058      17796.279297               12.44                      12

       cat__gender cat__marital_status cat__education_level  \
id
138993        Male              Single           Bachelor's
251068        Male             Married          High School
108793        Male             Married             Master's
421722        Male             Married          High School
302184      Female             Married          High School
...            ...                 ...                  ...
470389        Male             Married           Bachelor's
170750      Female             Married           Bachelor's
493273      Female             Married           Bachelor's
414806        Male              Single          High School
409058      Female             Married           Bachelor's

       cat__employment_status  ... std__credit_score  std__loan_amount  \
id                             ...
138993          Self-employed  ...         -0.035019         -0.265516
251068               Employed  ...          1.137972          0.713316
108793                Retired  ...          1.300386          1.413057
421722               Employed  ...          0.614637         -1.660672
302184               Employed  ...         -0.702722          0.213478
...                       ...  ...               ...               ...
470389          Self-employed  ...          0.740960          1.096774
170750               Employed  ...          1.805675         -0.659297
493273               Employed  ...          2.491424          1.841364
414806               Employed  ...          0.957512          0.097909
409058               Employed  ...          0.488315          0.401002

        std__interest_rate  std__grade_subgrade_no  pca__pca__pca0  \
id
138993            0.977397               -0.775334       -0.015041

23         num__annual_income  num__debt_to_income_ratio  num__credit_score  \
id
138365        45462.398438                      0.094                626
250661        48551.820312                      0.085                615
108304        24763.349609                      0.213                721
421429        57123.210938                      0.035                645
301843        38008.398438                      0.085                713
...                    ...                        ...                ...
469936        28597.250000                      0.041                750
170262        69639.617188                      0.092                705
493028        63626.121094                      0.092                706
414586         7991.229980                      0.075                654
408736        23113.119141                      0.096                733

        num__loan_amount  num__interest_rate  num__grade_subgrade_no  \
id
138365      24897.050781               15.58                      17
250661      13551.009766               13.21                      17
108304      10491.339844               14.03                      13
421429      19440.070312               14.22                      18
301843      12772.080078               12.22                      11
...                  ...                 ...                     ...
469936      13481.780273                9.56                       8
170262      24010.310547               14.22                      13
493028      13289.759766               12.85                      10
414586      27661.970703               13.35                      15
408736      20500.759766               10.15                      11

       cat__gender cat__marital_status cat__education_level  \
id
138365      Female             Married           Bachelor's
250661        Male            Divorced                  PhD
108304      Female             Married             Master's
421429        Male             Married          High School
301843      Female             Married           Bachelor's
...            ...                 ...                  ...
469936      Female             Married           Bachelor's
170262        Male             Married             Master's
493028      Female             Married                Other
414586        Male            Divorced          High School
408736        Male              Single          High School

       cat__employment_status  ... std__credit_score  std__loan_amount  \
id                             ...
138365               Employed  ...         -0.991450          1.426222
250661          Self-employed  ...         -1.190033         -0.211405
108304               Employed  ...          0.723577         -0.653021
421429               Employed  ...         -0.648445          0.638591
301843               Employed  ...          0.579154         -0.323831
...                       ...  ...               ...               ...
469936               Employed  ...          1.247112         -0.221397
170262               Employed  ...          0.434730          1.298235
493028          Self-employed  ...          0.452783         -0.249112
414586               Employed  ...         -0.485969          1.825296
408736                Retired  ...          0.940212          0.791685

        std__interest_rate  std__grade_subgrade_no  pca__pca__pca0  \
id
138365            1.606399                0.593039        1.737252
250661            0.426003                0.593039        1.273896
108304            0.834410               -0.188910       -0.074639
421429            0.929041                0.788526        1.253958
301843           -0.067074               -0.579885       -0.783502
...                    ...                     ...             ...
469936           -1.391906               -1.166347       -2.240141
170262            0.929041               -0.188910        0.039311
493028            0.246703               -0.775372       -0.667282
414586            0.495731                0.202065        0.632464
408736           -1.098052               -0.579885       -1.489523

        pca__pca__pca1  pca__pca__pca2  pca__pca__pca3  pca__pca__pca4  \
id
138365       -1.375323        0.462866        0.427561       -0.871335
250661       -0.147723        0.149653       -0.599786        0.234989
108304        0.824118       -1.404096        0.545798       -1.055490
421429       -1.040045        0.910755       -0.643831       -0.273262
301843       -0.169781       -0.280792       -0.613003       -0.317415
...                ...             ...             ...             ...
469936       -0.674048       -0.402021       -0.986189        0.432364
170262       -0.872982        1.224295        0.502955       -1.012160
493028        0.214544        0.582173       -0.408817       -0.635760
414586       -2.351756       -0.642372        0.397816       -0.195647
408736       -1.113319       -0.557056        0.202702        0.459256

        pca__pca__pca5
id
138365       -0.213859
250661       -0.428463
108304        0.444240
421429        0.124755
301843        0.011989
...                ...
469936        0.012091
170262        0.237227
493028       -0.196032
414586       -0.181526
408736        0.216910

[427675 rows x 23 columns] id
138365    1
250661    1
108304    1
421429    1
301843    1
         ..
469936    1
170262    1
493028    1
414586    1
408736    1
Name: loan_paid_back, Length: 427675, dtype: int8 (        num__annual_income  num__debt_to_income_ratio  num__credit_score  \
id
50988         59930.480469                      0.166                605
323585        30406.679688                      0.379                677
392564        52854.019531                      0.088                673
303314        54535.449219                      0.159                716
572068        86769.437500                      0.090                671
...                    ...                        ...                ...
592481        63904.031250                      0.188                639
36791         74324.390625                      0.093                563
53949         53942.019531                      0.167                727
319210        40290.031250                      0.049                679
54117         25007.250000                      0.183                639

        num__loan_amount  num__interest_rate  num__grade_subgrade_no  \
id
50988         905.599976           15.870000                      24
323585      17999.820312           12.820000                      10
392564       5671.040039           10.490000                      11
303314       3062.179932           11.840000                      13
572068      26655.810547           10.260000                      13
...                  ...                 ...                     ...
592481      11457.009766           13.740000                      16
36791       10291.730469           17.190001                      26
53949       16884.250000           10.530000                      14
319210      17134.980469           11.300000                      11
54117       12792.250000           13.290000                      18

       cat__gender cat__marital_status cat__education_level  \
id
50988         Male              Single          High School
323585      Female              Single           Bachelor's
392564      Female              Single             Master's
303314      Female              Single           Bachelor's
572068        Male              Single             Master's
...            ...                 ...                  ...
592481        Male             Married                Other
36791         Male              Single           Bachelor's
53949         Male             Married           Bachelor's
319210      Female             Married          High School
54117         Male             Married             Master's

       cat__employment_status  ... std__credit_score  std__loan_amount  \
id                             ...
50988                Employed  ...         -1.370562         -2.036576
323585               Employed  ...         -0.070752          0.430713
392564               Employed  ...         -0.142963         -1.348757
303314               Employed  ...          0.633312         -1.725306
572068               Employed  ...         -0.179069          1.680072
...                       ...  ...               ...               ...
592481             Unemployed  ...         -0.756763         -0.513641
36791                Employed  ...         -2.128784         -0.681832
53949                Employed  ...          0.831894          0.269697
319210                Student  ...         -0.034646          0.305887
54117                Employed  ...         -0.756763         -0.320920

        std__interest_rate  std__grade_subgrade_no  pca__pca__pca0  \
id
50988             1.750835                1.961450        2.933116
323585            0.231760               -0.775372       -0.063326
392564           -0.928713               -0.579885       -0.752981
303314           -0.256335               -0.188910       -0.605074
572068           -1.043266               -0.188910       -0.532632
...                    ...                     ...             ...
592481            0.689973                0.397552        1.109985
36791             2.408271                2.352425        3.896440
53949            -0.908791                0.006577       -0.907140
319210           -0.525286               -0.579885       -0.654897
54117             0.465847                0.788526        1.239447

        pca__pca__pca1  pca__pca__pca2  pca__pca__pca3  pca__pca__pca4  \
id
50988         1.950280       -0.299009       -0.853464       -0.362966
323585        1.385701       -1.705268        3.156335       -0.612777
392564        0.857398       -0.073436       -1.115832        0.655503
303314        1.695535       -0.444823       -0.556790       -0.045070
572068       -0.866379        1.895422        0.872217        0.886228
...                ...             ...             ...             ...
592481        1.104067        0.103605        0.450364       -0.252015
36791         0.568856        0.924085       -0.873278       -0.533552
53949         0.278172        0.028125        0.783366        0.518355
319210       -0.876616        0.136035       -0.620742        0.278571
54117         0.324474       -1.142849        0.370701        0.100007

        pca__pca__pca5
id
50988         0.461191
323585       -0.556503
392564       -0.560720
303314        0.311028
572068       -0.318240
...                ...
592481       -0.230323
36791         0.219112
53949         0.556360
319210       -0.458205
54117         0.027247

[47520 rows x 23 columns], id
50988     0
323585    1
392564    1
303314    1
572068    1
         ..
592481    0
36791     1
53949     1
319210    0
54117     0
Name: loan_paid_back, Length: 47520, dtype: int8) (        num__annual_income  num__debt_to_income_ratio  num__credit_score  \
id
17            35268.699219                      0.089                576
18            26451.150391                      0.088                644
19            43838.968750                      0.051                681
23            20605.970703                      0.208                699
43            23329.509766                      0.050                726
...                    ...                        ...                ...
593981        18778.150391                      0.079                663
593987        17662.679688                      0.074                679
593989        23004.259766                      0.152                703
593992        76748.437500                      0.067                740
593993        48959.519531                      0.096                752

        num__loan_amount  num__interest_rate  num__grade_subgrade_no  \
id
17          23642.369141               12.60                      29
18          17999.599609               13.34                      19
19          18987.550781               14.29                      14
23          10086.059570               11.11                      10
43          20981.960938               12.23                      12
...                  ...                 ...                     ...
593981      15262.980469               11.30                      19
593987      19792.919922               15.48                      12
593989      20958.369141               10.92                      12
593992      16290.400391                9.87                       6
593993       7707.729980               10.31                       7

       cat__gender cat__marital_status cat__education_level  \
id
17            Male             Married           Bachelor's
18            Male              Single             Master's
19            Male             Married          High School
23          Female             Married           Bachelor's
43          Female              Single             Master's
...            ...                 ...                  ...
593981      Female              Single          High School
593987      Female              Single                Other
593989      Female              Single          High School
593992        Male              Single           Bachelor's
593993        Male             Married          High School

       cat__employment_status  ... std__credit_score  std__loan_amount  \
id                             ...
17                 Unemployed  ...         -1.894096          1.245128
18                   Employed  ...         -0.666498          0.430681
19                   Employed  ...          0.001460          0.573277
23                   Employed  ...          0.326413         -0.711517
43                    Retired  ...          0.813842          0.861139
...                       ...  ...               ...               ...
593981                Retired  ...         -0.323492          0.035692
593987               Employed  ...         -0.034646          0.689519
593989               Employed  ...          0.398624          0.857734
593992               Employed  ...          1.066582          0.183984
593993               Employed  ...          1.283217         -1.054792

        std__interest_rate  std__grade_subgrade_no  pca__pca__pca0  \
id
17                0.122188                2.938887        3.012253
18                0.490750                0.984014        1.225706
19                0.963905                0.006577        0.403871
23               -0.619917               -0.775372       -0.893600
43               -0.062093               -0.384397       -0.835228
...                    ...                     ...             ...
593981           -0.525286                0.984014        0.511046
593987            1.556593               -0.384397        0.498227
593989           -0.714548               -0.384397       -0.792452
593992           -1.237508               -1.557321       -2.268174
593993           -1.018363               -1.361834       -2.153390

        pca__pca__pca1  pca__pca__pca2  pca__pca__pca3  pca__pca__pca4  \
id
17           -1.442668        0.104745        0.229281        1.604942
18           -0.942555       -0.442293       -0.257387        0.168284
19           -1.053303        0.350101       -0.518386       -0.806869
23            0.806433       -1.563612        0.524355        0.107710
43           -1.545915       -0.294779       -0.345705       -0.307256
...                ...             ...             ...             ...
593981       -0.802875       -0.788084       -0.565030        0.959548
593987       -1.377210       -0.611709       -0.304983       -1.473087
593989       -0.756791       -0.791333        0.845452        0.334262
593992       -0.038124        1.223742       -0.268057        0.178390
593993        0.674500       -0.190215       -0.804950       -0.002696

        pca__pca__pca5
id
17            0.666666
18            0.224652
19            0.057855
23           -0.330265
43            0.317116
...                ...
593981        0.413123
593987       -0.201930
593989       -0.014094
593992       -0.377582
593993       -0.074162

[118799 rows x 23 columns], id
17        0
18        1
19        1
23        1
43        1
         ..
593981    1
593987    1
593989    1
593992    1
593993    1
Name: loan_paid_back, Length: 118799, dtype: int8)
23         num__annual_income  num__debt_to_income_ratio  num__credit_score  \
id
138976        12252.500000                      0.084                654
251166        47112.640625                      0.084                739
108881        65859.328125                      0.079                692
421951        18602.390625                      0.095                611
302393        15450.110352                      0.087                605
...                    ...                        ...                ...
470571        48967.488281                      0.054                731
170653        59824.550781                      0.065                681
493406        51919.750000                      0.097                654
415065        52613.710938                      0.094                716
409226        29779.529297                      0.096                674

        num__loan_amount  num__interest_rate  num__grade_subgrade_no  \
id
138976      21296.580078           10.080000                      18
251166      29571.630859            9.840000                      10
108881      17255.480469           13.800000                      11
421951      14602.480469           16.059999                      16
302393      26776.599609           14.000000                      21
...                  ...                 ...                     ...
470571       4990.040039           11.090000                      10
170653      14260.610352           14.490000                      11
493406      17362.740234           13.220000                      15
415065      10584.280273           11.090000                      14
409226        708.530029           12.320000                      14

       cat__gender cat__marital_status cat__education_level  \
id
138976      Female              Single          High School
251166        Male             Married           Bachelor's
108881        Male              Single                Other
421951        Male              Single           Bachelor's
302393        Male             Married                Other
...            ...                 ...                  ...
470571      Female              Single           Bachelor's
170653        Male              Single          High School
493406        Male             Married          High School
415065      Female              Single          High School
409226        Male             Married           Bachelor's

       cat__employment_status  ... std__credit_score  std__loan_amount  \
id                             ...
138976                Retired  ...         -0.485948          0.906534
251166               Employed  ...          1.047334          2.102034
108881               Employed  ...          0.199519          0.322715
421951               Employed  ...         -1.261609         -0.060565
302393               Employed  ...         -1.369841          1.698235
...                       ...  ...               ...               ...
470571          Self-employed  ...          0.903025         -1.449277
170653               Employed  ...          0.001094         -0.109955
493406          Self-employed  ...         -0.485948          0.338211
415065               Employed  ...          0.632446         -0.641075
409226               Employed  ...         -0.125176         -2.067828

        std__interest_rate  std__grade_subgrade_no  pca__pca__pca0  \
id
138976           -1.133395                0.788058        0.208566

In [193]:
for i, j, n, a, b, c in split_and_transform(
        [
            ('std', std_list, X_num),
        ], train_idx_list, valid_idx_list, df_train[X_all], split_train = True
    ):
    print(i, j, len(n), a, b, c)

0 0 6         std__annual_income  std__debt_to_income_ratio  std__credit_score  \
id
138907           -0.851332                  -1.089396           1.624995
251061           -1.256891                  -0.316139           0.579265
108883            0.159293                   2.193300          -0.430405
421891           -0.779502                  -0.607934           0.164579
302478            0.853551                  -0.403678           0.290788
...                    ...                        ...                ...
470641           -0.027460                  -0.111882          -0.809031
170626            0.409049                  -0.739242           0.074430
493480            1.570246                  -0.476626          -0.250107
415113           -0.391591                  -0.534985          -2.287477
409290           -0.805977                  -0.403678           0.200639

        std__loan_amount  std__interest_rate  std__grade_subgrade_no
id
138907         -0.116998            0.848075               -1.557238
251061         -0.870697            0.011683               -0.580219
108883         -0.068668            1.161721                0.201396
421891         -1.139134           -0.550890               -0.189411
302478         -0.424313            0.016661               -0.775623
...                  ...                 ...                     ...
470641         -0.195036            1.017344                0.592204
170626         -0.857755            0.310394               -0.775623
493480          0.165446           -0.655439                0.201396
415113         -0.469555            0.848075                2.155435
409290          0.324688            0.360179               -0.580219

[427675 rows x 6 columns]         std__annual_income  std__debt_to_income_ratio  std__credit_score  \
id
51330             0.845773                   0.427939           0.182609
324263           -0.442187                  -0.783011          -0.700853
393053           -0.152766                   1.478402          -0.646763
303994           -0.188644                   1.099068           0.290788
572132           -0.068151                   1.317914          -1.241747
...                    ...                        ...                ...
592529           -0.906486                   2.251659           0.128520
37040             0.848756                  -0.447447           0.038370
54107             0.626100                  -0.214011           0.236699
320113           -1.468572                  -0.972678          -1.674463
54334            -0.037579                   0.384170          -2.359597

        std__loan_amount  std__interest_rate  std__grade_subgrade_no
id
51330           2.112205            0.932709               -0.580219
324263         -1.519087           -0.396556                0.201396
393053          1.179341            1.311077                0.592204
303994         -0.512054           -1.924962                0.005993
572132          0.400371            0.708676                0.983012
...                  ...                 ...                     ...
592529         -0.705236            0.240695                0.005993
37040          -0.709419            1.176657               -0.384815
54107           1.191123           -0.267115               -0.189411
320113         -1.411082            0.982494                1.960031
54334          -0.143903            1.530132                2.350839

[47520 rows x 6 columns]         std__annual_income  std__debt_to_income_ratio  std__credit_score  \
id
12               -0.129846                   0.486298          -0.250107
28               -0.083377                  -0.870550          -0.123898
34               -1.153282                   2.193300          -0.340256
36                0.014529                  -0.432857          -2.702163
46                0.883103                  -0.593345          -0.899181
...                    ...                        ...                ...
593973           -0.415335                  -0.680883          -1.385986
593978            1.229547                   1.551350          -1.530225
593982           -0.727316                   0.369580          -0.718882
593990           -0.484058                  -0.228600          -2.197328
593991           -0.041264                  -0.710063          -0.105868

        std__loan_amount  std__interest_rate  std__grade_subgrade_no
id
12             -0.061332            0.783354                0.592204
28             -0.270408            0.713654                0.005993
34             -0.768414           -0.710203                0.983012
36             -0.237920            1.649616                2.741647
46              1.288014            0.514514                0.396800
...                  ...                 ...                     ...
593973         -0.353540            1.241378                1.960031
593978          0.114974            1.380776                1.178416
593982          0.751225            1.032280                0.396800
593990         -1.698451            1.126871                2.937050
593991         -2.034365            0.882924               -0.775623

[118799 rows x 6 columns]
1 0 6         std__annual_income  std__debt_to_income_ratio  std__credit_score  \
id
138993            0.432957                  -0.491237          -0.035019
251068           -0.823977                  -0.199745           1.137972
108793           -0.656842                  -1.278265           1.300386
421722           -0.036578                  -0.534960           0.614637
302184           -0.520786                  -1.059646          -0.702722
...                    ...                        ...                ...
470389           -0.337983                  -0.899325           0.740960
170750           -0.380757                   0.733029           1.805675
493273            0.463754                   1.418035           2.491424
414806            0.253952                  -0.768154           0.957512
409058            0.035022                  -0.651557           0.488315

        std__loan_amount  std__interest_rate  std__grade_subgrade_no
id
138993         -0.265516            0.977397               -0.775334
251068          0.713316           -1.287358               -1.361939
108793          1.413057           -1.735331               -1.361939
421722         -1.660672           -0.724902                0.006806
302184          0.213478            0.504536                0.984482
...                  ...                 ...                     ...
470389          1.096774           -1.167898               -0.775334
170750         -0.659297           -2.183305               -1.166404
493273          1.841364           -1.735331               -1.948545
414806          0.097909            0.688703               -0.579799
409058          0.401002            0.041630               -0.384264

[427675 rows x 6 columns]         std__annual_income  std__debt_to_income_ratio  std__credit_score  \
id
51471            -1.448952                   0.703880           0.650729
323665           -0.393176                  -0.622408          -1.929852
392730            0.209839                  -0.491237          -1.496747
303631           -0.806779                  -1.219966          -0.666630
572245           -0.676905                   2.015593           0.127395
...                    ...                        ...                ...
592512           -0.480954                  -0.053999          -0.071111
37073            -0.670393                  -0.287192           0.759006
54131            -0.149212                   0.062598          -0.684676
320130           -0.153038                   1.447184          -0.702722
54614             1.232203                  -0.578684           0.740960

        std__loan_amount  std__interest_rate  std__grade_subgrade_no
id
51471          -0.324243            0.738478               -0.384264
323665         -1.912041            0.549334                2.744298
392730         -0.904744            1.007262                1.766622
303631          1.031239            0.643906                0.397877
572245          0.386629            0.897757               -0.384264
...                  ...                 ...                     ...
592512         -0.170298           -0.162447               -0.384264
37073           0.354262           -0.665172               -0.775334
54131          -0.849568            0.773320                0.593412
320130          0.500910            0.151135                0.202341
54614          -0.600101            0.514491               -0.579799

[47520 rows x 6 columns]         std__annual_income  std__debt_to_income_ratio  std__credit_score  \
id
1                -0.976698                   0.660156          -0.810998
4                -0.849784                  -0.986773          -0.287664
5                -0.121573                  -0.913900          -0.504216
6                 0.501406                  -1.147093           0.271763
8                -0.658941                   0.164620           0.578545
...                    ...                        ...                ...
593972           -0.011878                  -0.972198           0.524407
593974           -0.776344                  -0.316342           0.777052
593979           -0.600235                  -0.170596          -0.991459
593983            0.206976                  -0.811878           0.759006
593985           -0.411900                   0.718454           0.668776

        std__loan_amount  std__interest_rate  std__grade_subgrade_no
id
1              -1.505131            0.280550                0.593412
4              -0.409177           -1.068348                0.202341
5              -0.412715           -0.057919                0.202341
6               0.272720            0.579199                0.006806
8              -1.082236           -1.431705                0.006806
...                  ...                 ...                     ...
593972          1.046787           -0.884182               -0.579799
593974         -0.378682            0.932600               -0.775334
593979         -1.042473           -0.809520                0.397877
593983          0.227444           -1.675602               -0.775334
593985          0.294203           -0.938934               -0.384264

[118799 rows x 6 columns]
2 0 6         std__annual_income  std__debt_to_income_ratio  std__credit_score  \
id
138365           -0.102236                  -0.389645          -0.991450
250661            0.013662                  -0.520904          -1.190033
108304           -0.878747                   1.345886           0.723577
421429            0.335212                  -1.250119          -0.648445
301843           -0.381868                  -0.520904           0.579154
...                    ...                        ...                ...
469936           -0.734921                  -1.162613           1.247112
170262            0.804757                  -0.418814           0.434730
493028            0.579165                  -0.418814           0.452783
414586           -1.507942                  -0.666747          -0.485969
408736           -0.940654                  -0.360477           0.940212

        std__loan_amount  std__interest_rate  std__grade_subgrade_no
id
138365          1.426222            1.606399                0.593039
250661         -0.211405            0.426003                0.593039
108304         -0.653021            0.834410               -0.188910
421429          0.638591            0.929041                0.788526
301843         -0.323831           -0.067074               -0.579885
...                  ...                 ...                     ...
469936         -0.221397           -1.391906               -1.166347
170262          1.298235            0.929041               -0.188910
493028         -0.249112            0.246703               -0.775372
414586          1.825296            0.495731                0.202065
408736          0.791685           -1.098052               -0.579885

[427675 rows x 6 columns]         std__annual_income  std__debt_to_income_ratio  std__credit_score  \
id
50988             0.440525                   0.660424          -1.370562
323585           -0.667041                   3.766879          -0.070752
392564            0.175056                  -0.477151          -0.142963
303314            0.238134                   0.558334           0.633312
572068            1.447372                  -0.447982          -0.179069
...                    ...                        ...                ...
592481            0.589590                   0.981279          -0.756763
36791             0.980504                  -0.404230          -2.128784
53949             0.215872                   0.675008           0.831894
319210           -0.296274                  -1.045939          -0.034646
54117            -0.869597                   0.908357          -0.756763

        std__loan_amount  std__interest_rate  std__grade_subgrade_no
id
50988          -2.036576            1.750835                1.961450
323585          0.430713            0.231760               -0.775372
392564         -1.348757           -0.928713               -0.579885
303314         -1.725306           -0.256335               -0.188910
572068          1.680072           -1.043266               -0.188910
...                  ...                 ...                     ...
592481         -0.513641            0.689973                0.397552
36791          -0.681832            2.408271                2.352425
53949           0.269697           -0.908791                0.006577
319210          0.305887           -0.525286               -0.579885
54117          -0.320920            0.465847                0.788526

[47520 rows x 6 columns]         std__annual_income  std__debt_to_income_ratio  std__credit_score  \
id
17               -0.484646                  -0.462567          -1.894096
18               -0.815430                  -0.477151          -0.666498
19               -0.163137                  -1.016770           0.001460
23               -1.034709                   1.272965           0.326413
43               -0.932537                  -1.031354           0.813842
...                    ...                        ...                ...
593981           -1.103278                  -0.608410          -0.323492
593987           -1.145124                  -0.681331          -0.034646
593989           -0.944738                   0.456244           0.398624
593992            1.071440                  -0.783421           1.066582
593993            0.028957                  -0.360477           1.283217

        std__loan_amount  std__interest_rate  std__grade_subgrade_no
id
17              1.245128            0.122188                2.938887
18              0.430681            0.490750                0.984014
19              0.573277            0.963905                0.006577
23             -0.711517           -0.619917               -0.775372
43              0.861139           -0.062093               -0.384397
...                  ...                 ...                     ...
593981          0.035692           -0.525286                0.984014
593987          0.689519            1.556593               -0.384397
593989          0.857734           -0.714548               -0.384397
593992          0.183984           -1.237508               -1.557321
593993         -1.054792           -1.018363               -1.361834

[118799 rows x 6 columns]
3 0 6         std__annual_income  std__debt_to_income_ratio  std__credit_score  \
id
138976           -1.345725                  -0.534477          -0.485948
251166           -0.042328                  -0.534477           1.047334
108881            0.658598                  -0.607352           0.199519
421951           -1.108307                  -0.374154          -1.261609
302393           -1.226168                  -0.490753          -1.369841
...                    ...                        ...                ...
470571            0.027024                  -0.971724           0.903025
170653            0.432962                  -0.811400           0.001094
493406            0.137407                  -0.345004          -0.485948
415065            0.163353                  -0.388729           0.632446
409226           -0.690401                  -0.359579          -0.125176

        std__loan_amount  std__interest_rate  std__grade_subgrade_no
id
138976          0.906534           -1.133395                0.788058
251166          2.102034           -1.252811               -0.775627
108881          0.322715            0.717554               -0.580166
421951         -0.060565            1.842056                0.397137
302393          1.698235            0.817068                1.374440
...                  ...                 ...                     ...
470571         -1.449277           -0.630852               -0.775627
170653         -0.109955            1.060876               -0.580166
493406          0.338211            0.428966                0.201676
415065         -0.641075           -0.630852                0.006216
409226         -2.067828           -0.018845                0.006216

[427675 rows x 6 columns]         std__annual_income  std__debt_to_income_ratio  std__credit_score  \
id
51771             0.923384                   0.893861           0.109326
324091           -0.140624                  -0.913424           0.271674
393002            0.610342                  -0.199255          -0.215369
303916            0.033024                   0.748112           0.722639
572036            0.305044                   2.628272           1.209682
...                    ...                        ...                ...
592464            0.503896                   1.680905           1.317914
37100             0.060713                  -0.490753          -0.431832
54238             1.588718                   0.033943          -0.125176
319248           -0.765911                  -0.578202          -2.091385
54959            -0.331831                   0.004793          -1.496111

        std__loan_amount  std__interest_rate  std__grade_subgrade_no
id
51771           1.778703           -0.571144               -0.384706
324091         -0.438717            0.792189               -0.775627
393002         -1.391512           -0.173091                0.397137
303916          1.232395           -0.377093               -0.775627
572036         -0.797405           -0.038748               -1.752930
...                  ...                 ...                     ...
592464         -1.056501            0.001058               -1.752930
37100          -1.477986            0.234914                0.788058
54238           0.148774            1.613175                0.006216
319248         -0.163215            0.498625                2.351743
54959          -0.230056            1.633078                1.178979

[47520 rows x 6 columns]         std__annual_income  std__debt_to_income_ratio  std__credit_score  \
id
7                -0.085675                  -0.301279          -0.485948
9                -1.155415                   0.004793          -2.398042
13               -0.295562                  -0.884275           0.415983
20                2.077961                   1.957828           1.047334
25               -0.383262                  -1.204922          -0.522026
...                    ...                        ...                ...
593936            0.358704                   1.097909          -0.089099
593946            0.375036                  -0.257555           0.939103
593956            0.834479                  -0.068081          -0.936914
593957            0.828905                  -0.694801           0.307751

In [196]:
b

,std__annual_income,std__debt_to_income_ratio,std__credit_score,std__loan_amount,std__interest_rate,std__grade_subgrade_no
id,,,,,,
564861,-0.073325,-1.265326,1.264774,0.597407,-0.192226,-1.558253
472137,0.849818,-0.988092,-0.250989,-1.143818,-1.500992,0.397031
3899,0.298797,0.952548,1.228684,1.218469,-1.242225,-1.753781
209458,4.086154,2.324128,1.336953,-0.170995,-1.137722,-1.362725
503911,-0.750164,-0.594128,1.770028,1.174754,-0.709761,-1.753781
...,...,...,...,...,...,...
531288,-0.178939,-0.346076,-0.250989,0.812140,-0.147440,0.397031
445754,-0.012579,-0.506580,-1.243452,1.747563,1.151373,0.592559
247275,0.284006,1.944755,1.860252,-0.029998,-0.316634,-1.167196
425218,-1.233637,-0.783814,-0.720153,-0.425161,-0.182274,0.983616
253447,0.697201,-0.404441,0.506893,1.424809,-0.520662,0.005974

In [72]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression

[([(        annual_income  debt_to_income_ratio  credit_score   loan_amount  \
id
155912   24490.759766                 0.084           689   5284.439941
209343   48883.128906                 0.046           624   9142.129883
392510   33248.949219                 0.069           667  12961.580078
153135   50937.878906                 0.067           728  23351.890625
274644   14226.280273                 0.064           741  12661.700195
...               ...                   ...           ...           ...
336308   53977.089844                 0.096           596   8354.980469
387786   10603.269531                 0.138           718  15449.080078
16380    52320.039062                 0.122           628  13597.519531
255063   54593.730469                 0.222           699  11443.610352
156090   10374.799805                 0.091           585   6127.660156

        interest_rate  gender marital_status education_level  \
id
155912          12.42  Female         Single      Bachelor's
209343          15.81    Male       Divorced     High School
392510          13.43  Female         Single     High School
153135           9.35  Female        Married        Master's
274644          10.95  Female         Single      Bachelor's
...               ...     ...            ...             ...
336308          11.71  Female        Married     High School
387786          12.24    Male         Single      Bachelor's
16380           13.71  Female        Married      Bachelor's
255063          11.70  Female         Single        Master's
156090          12.72    Male        Married        Master's

       employment_status        loan_purpose grade_subgrade  loan_paid_back  \
id
155912           Retired                 Car             C4               1
209343          Employed  Debt consolidation             D1               1
392510          Employed  Debt consolidation             D5               1
153135          Employed  Debt consolidation             C1               1
274644          Employed  Debt consolidation             B5               1
...                  ...                 ...            ...             ...
336308          Employed                 Car             E1               1
387786          Employed  Debt consolidation             C5               1
16380           Employed  Debt consolidation             D4               1
255063          Employed                Home             C3               1
156090          Employed  Debt consolidation             E1               1

        grade_subgrade_no
id
155912                 13
209343                 15
392510                 19
153135                 10
274644                  9
...                   ...
336308                 20
387786                 14
16380                  18
255063                 12
156090                 20

[427676 rows x 13 columns],         annual_income  debt_to_income_ratio  credit_score   loan_amount  \
id
564861   46266.000000                 0.034           751  19154.820312
472137   70965.148438                 0.053           667   7095.979980
3899     56222.308594                 0.186           749  23455.980469
209458  157554.937500                 0.280           755  13833.259766
503911   28156.830078                 0.080           779  23153.230469
...               ...                   ...           ...           ...
531288   43440.250000                 0.097           667  20641.949219
445754   47891.281250                 0.086           612  27120.220703
247275   55826.558594                 0.254           784  14809.730469
425218   15221.269531                 0.067           641  12073.030273
253447   66881.796875                 0.093           709  24884.990234

        interest_rate  gender marital_status education_level  \
id
564861          11.97    Male        Married      Bachelor's
472137           9.34    Male        Married     High School
3899             9.86  Female        Married      Bachelor's
209458          10.07    Male       Divorced           Other
503911          10.93  Female         Single        Master's
...               ...     ...            ...             ...
531288          12.06    Male         Single           Other
445754          14.67  Female       Divorced      Bachelor's
247275          11.72    Male        Married     High School
425218          11.99    Male        Married     High School
253447          11.31  Female         Single     High School

       employment_status        loan_purpose grade_subgrade  loan_paid_back  \
id
564861          Employed                Home             B2               1
472137          Employed  Debt consolidation             D2               1
3899            Employed  Debt consolidation             B1               1
209458          Employed                 Car             B3               1
503911          Employed  Debt consolidation             B1               1
...                  ...                 ...            ...             ...
531288          Employed  Debt consolidation             D2               1
445754          Employed  Debt consolidation             D3               1
247275          Employed  Debt consolidation             B4               1
425218          Employed  Debt consolidation             D5               1
253447          Employed                 Car             C5               1

        grade_subgrade_no
id
564861                  6
472137                 16
3899                    5
209458                  7
503911                  5
...                   ...
531288                 16
445754                 17
247275                  8
425218                 19
253447                 14

[47520 rows x 13 columns])],         annual_income  debt_to_income_ratio  credit_score   loan_amount  \
id
0        29367.990234                 0.084           736   2528.419922
2        49566.199219                 0.097           694  17005.150391
3        46858.250000                 0.065           533   4682.479980
11       73813.117188                 0.149           684  12093.429688
21       48817.070312                 0.140           682  27101.689453
...               ...                   ...           ...           ...
593977   52312.371094                 0.095           667   5785.970215
593980   24990.570312                 0.142           627  17196.500000
593984   36169.339844                 0.091           676   9986.830078
593986   25015.349609                 0.074           633  15922.610352
593988   15602.219727                 0.056           622  25706.470703

        interest_rate  gender marital_status education_level  \
id
0               13.67  Female         Single     High School
2                9.76    Male         Single     High School
3               16.10  Female         Single     High School
11              12.98    Male         Single     High School
21              13.60  Female         Single      Bachelor's
...               ...     ...            ...             ...
593977          11.82    Male         Single             PhD
593980          13.79    Male        Married     High School
593984          14.18  Female        Married      Bachelor's
593986          13.91    Male        Married      Bachelor's
593988          15.75  Female        Married     High School

       employment_status        loan_purpose grade_subgrade  loan_paid_back  \
id
0          Self-employed               Other             C3               1
2               Employed  Debt consolidation             C5               1
3               Employed  Debt consolidation             F1               1
11              Employed  Debt consolidation             C2               1
21              Employed  Debt consolidation             C2               1
...                  ...                 ...            ...             ...
593977          Employed                Home             D2               1
593980          Employed            Business             D4               0
593984           Retired  Debt consolidation             C3               1
593986          Employed  Debt consolidation             D2               0
593988          Employed  Debt consolidation             D2               1

        grade_subgrade_no
id
0                      12
2                      14
3                      25
11                     11
21                     11
...                   ...
593977                 16
593980                 18
593984                 12
593986                 16
593988                 16

[118798 rows x 13 columns])]         annual_income  debt_to_income_ratio  credit_score   loan_amount  \
id
0        29367.990234                 0.084           736   2528.419922
2        49566.199219                 0.097           694  17005.150391
3        46858.250000                 0.065           533   4682.479980
11       73813.117188                 0.149           684  12093.429688
21       48817.070312                 0.140           682  27101.689453
...               ...                   ...           ...           ...
593977   52312.371094                 0.095           667   5785.970215
593980   24990.570312                 0.142           627  17196.500000
593984   36169.339844                 0.091           676   9986.830078
593986   25015.349609                 0.074           633  15922.610352
593988   15602.219727                 0.056           622  25706.470703

        interest_rate  gender marital_status education_level  \
id
0               13.67  Female         Single     High School
2                9.76    Male         Single     High School
3               16.10  Female         Single     High School
11              12.98    Male         Single     High School
21              13.60  Female         Single      Bachelor's
...               ...     ...            ...             ...
593977          11.82    Male         Single             PhD
593980          13.79    Male        Married     High School
593984          14.18  Female        Married      Bachelor's
593986          13.91    Male        Married      Bachelor's
593988          15.75  Female        Married     High School

       employment_status        loan_purpose grade_subgrade  loan_paid_back  \
id
0          Self-employed               Other             C3               1
2               Employed  Debt consolidation             C5               1
3               Employed  Debt consolidation             F1               1
11              Employed  Debt consolidation             C2               1
21              Employed  Debt consolidation             C2               1
...                  ...                 ...            ...             ...
593977          Employed                Home             D2               1
593980          Employed            Business             D4               0
593984           Retired  Debt consolidation             C3               1
593986          Employed  Debt consolidation             D2               0
593988          Employed  Debt consolidation             D2               1

        grade_subgrade_no
id
0                      12
2                      14
3                      25
11                     11
21                     11
...                   ...
593977                 16
593980                 18
593984                 12
593986                 16
593988                 16

[118798 rows x 13 columns]
[([(        annual_income  debt_to_income_ratio  credit_score   loan_amount  \
id
155912   24490.759766                 0.084           689   5284.439941
209343   48883.128906                 0.046           624   9142.129883
392510   33248.949219                 0.069           667  12961.580078
153135   50937.878906                 0.067           728  23351.890625
274644   14226.280273                 0.064           741  12661.700195
...               ...                   ...           ...           ...
336308   53977.089844                 0.096           596   8354.980469
387786   10603.269531                 0.138           718  15449.080078
16380    52320.039062                 0.122           628  13597.519531
255063   54593.730469                 0.222           699  11443.610352
156090   10374.799805                 0.091           585   6127.660156

        interest_rate  gender marital_status education_level  \
id
155912          12.42  Female         Single      Bachelor's
209343          15.81    Male       Divorced     High School
392510          13.43  Female         Single     High School
153135           9.35  Female        Married        Master's
274644          10.95  Female         Single      Bachelor's
...               ...     ...            ...             ...
336308          11.71  Female        Married     High School
387786          12.24    Male         Single      Bachelor's
16380           13.71  Female        Married      Bachelor's
255063          11.70  Female         Single        Master's
156090          12.72    Male        Married        Master's

       employment_status        loan_purpose grade_subgrade  loan_paid_back  \
id
155912           Retired                 Car             C4               1
209343          Employed  Debt consolidation             D1               1
392510          Employed  Debt consolidation             D5               1
153135          Employed  Debt consolidation             C1               1
274644          Employed  Debt consolidation             B5               1
...                  ...                 ...            ...             ...
336308          Employed                 Car             E1               1
387786          Employed  Debt consolidation             C5               1
16380           Employed  Debt consolidation             D4               1
255063          Employed                Home             C3               1
156090          Employed  Debt consolidation             E1               1

        grade_subgrade_no
id
155912                 13
209343                 15
392510                 19
153135                 10
274644                  9
...                   ...
336308                 20
387786                 14
16380                  18
255063                 12
156090                 20

[427676 rows x 13 columns],         annual_income  debt_to_income_ratio  credit_score   loan_amount  \
id
564861   46266.000000                 0.034           751  19154.820312
472137   70965.148438                 0.053           667   7095.979980
3899     56222.308594                 0.186           749  23455.980469
209458  157554.937500                 0.280           755  13833.259766
503911   28156.830078                 0.080           779  23153.230469
...               ...                   ...           ...           ...
531288   43440.250000                 0.097           667  20641.949219
445754   47891.281250                 0.086           612  27120.220703
247275   55826.558594                 0.254           784  14809.730469
425218   15221.269531                 0.067           641  12073.030273
253447   66881.796875                 0.093           709  24884.990234

        interest_rate  gender marital_status education_level  \
id
564861          11.97    Male        Married      Bachelor's
472137           9.34    Male        Married     High School
3899             9.86  Female        Married      Bachelor's
209458          10.07    Male       Divorced           Other
503911          10.93  Female         Single        Master's
...               ...     ...            ...             ...
531288          12.06    Male         Single           Other
445754          14.67  Female       Divorced      Bachelor's
247275          11.72    Male        Married     High School
425218          11.99    Male        Married     High School
253447          11.31  Female         Single     High School

       employment_status        loan_purpose grade_subgrade  loan_paid_back  \
id
564861          Employed                Home             B2               1
472137          Employed  Debt consolidation             D2               1
3899            Employed  Debt consolidation             B1               1
209458          Employed                 Car             B3               1
503911          Employed  Debt consolidation             B1               1
...                  ...                 ...            ...             ...
531288          Employed  Debt consolidation             D2               1
445754          Employed  Debt consolidation             D3               1
247275          Employed  Debt consolidation             B4               1
425218          Employed  Debt consolidation             D5               1
253447          Employed                 Car             C5               1

        grade_subgrade_no
id
564861                  6
472137                 16
3899                    5
209458                  7
503911                  5
...                   ...
531288                 16
445754                 17
247275                  8
425218                 19
253447                 14

[47520 rows x 13 columns])],         annual_income  debt_to_income_ratio  credit_score   loan_amount  \
id
0        29367.990234                 0.084           736   2528.419922
2        49566.199219                 0.097           694  17005.150391
3        46858.250000                 0.065           533   4682.479980
11       73813.117188                 0.149           684  12093.429688
21       48817.070312                 0.140           682  27101.689453
...               ...                   ...           ...           ...
593977   52312.371094                 0.095           667   5785.970215
593980   24990.570312                 0.142           627  17196.500000
593984   36169.339844                 0.091           676   9986.830078
593986   25015.349609                 0.074           633  15922.610352
593988   15602.219727                 0.056           622  25706.470703

        interest_rate  gender marital_status education_level  \
id
0               13.67  Female         Single     High School
2                9.76    Male         Single     High School
3               16.10  Female         Single     High School
11              12.98    Male         Single     High School
21              13.60  Female         Single      Bachelor's
...               ...     ...            ...             ...
593977          11.82    Male         Single             PhD
593980          13.79    Male        Married     High School
593984          14.18  Female        Married      Bachelor's
593986          13.91    Male        Married      Bachelor's
593988          15.75  Female        Married     High School

       employment_status        loan_purpose grade_subgrade  loan_paid_back  \
id
0          Self-employed               Other             C3               1
2               Employed  Debt consolidation             C5               1
3               Employed  Debt consolidation             F1               1
11              Employed  Debt consolidation             C2               1
21              Employed  Debt consolidation             C2               1
...                  ...                 ...            ...             ...
593977          Employed                Home             D2               1
593980          Employed            Business             D4               0
593984           Retired  Debt consolidation             C3               1
593986          Employed  Debt consolidation             D2               0
593988          Employed  Debt consolidation             D2               1

        grade_subgrade_no
id
0                      12
2                      14
3                      25
11                     11
21                     11
...                   ...
593977                 16

In [172]:
def eval_cb(cb_params, X_num, X_cat, sp = ss, eval_size = 0.0):
    scores = list()
    prds = list()
    clfs = list()
    X_all = list(set(X_num).union(set(X_cat)))
    eval_set = None
    for train_idx, valid_idx in sp.split(df_train[X_all], df_train[y]):
        clf_cb = cb.CatBoostClassifier(
            **cb_params, cat_features = X_cat, verbose = 0
        )
        df_cv_train, df_valid = df_train.iloc[train_idx], df_train.iloc[valid_idx]
        # lr_prb = cross_val_predict(clf_lr, df_cv_train[X_lr], df_cv_train[y], cv = skf, method = 'predict_proba')[:, 1]
        # clf_cb.fit(df_cv_train[X_all].assign(lr_prb = lr_prb), df_cv_train[y])
        if eval_size > 0:
            df_cv_train, df_eval = train_test_split(
                df_cv_train, test_size = eval_size, random_state = 123, stratify = df_train[y]
            )
            eval_set = [(df_eval[X_all], df_eval[y])]
        clf_cb.fit(df_cv_train[X_all], df_cv_train[y], eval_set=eval_set)
        prd = pd.Series(clf_cb.predict_proba(df_valid[X_all])[:, 1], index = df_valid.index)
        prds.append(prd)
        scores.append(
            roc_auc_score(df_valid[y], prd)
        )
        clfs.append(clf_cb)
    return np.mean(scores), np.std(scores), pd.concat(prds).sort_index().values, clfs, X_all

In [181]:
results = eval_cb(
    {
        'n_estimators': 2000,
        'task_type': 'CPU',
        'max_depth': 6,
        'learning_rate':0.1,
        'border_count': 254, # border_count 128 -> 254
        'subsample': 0.75 # subsample: 0.75  
    }, 
    ['annual_income', 'debt_to_income_ratio', 'credit_score', 'loan_amount', 'interest_rate'] + ['grade_subgrade_no'],
    ['gender', 'marital_status', 'education_level', 'employment_status', 'loan_purpose'],
)
results[0]

0.9248421854596397

In [182]:
pd.DataFrame(
    results[3][0].get_feature_importance(type = 'Interaction'), columns = ['v1', 'v2', 'importance']
).assign(
    v1 = lambda x: x['v1'].astype('int').apply(lambda x: results[-1][x]),
    v2 = lambda x: x['v2'].astype('int').apply(lambda x: results[-1][x])
).iloc[:10]

                     v1                 v2  importance
0  debt_to_income_ratio       credit_score    9.104483
1  debt_to_income_ratio        loan_amount    7.272959
2  debt_to_income_ratio      annual_income    6.670799
3  debt_to_income_ratio      interest_rate    6.178732
4          credit_score        loan_amount    4.848106
5          credit_score      interest_rate    4.718051
6          credit_score      annual_income    4.226164
7  debt_to_income_ratio  employment_status    4.046364
8         interest_rate        loan_amount    3.582667
9           loan_amount      annual_income    3.558486

In [152]:
pd.DataFrame?